				<tbody>
					<tr>
						<td>NightmareMoon</td>
						<td>Gentoo Hardened</td>
						<td><a href="https://www.gigabyte.com/Motherboard/B550-AORUS-PRO-rev-10">Gigabyte B550 AORUS PRO (rev. 1.0)</a></td>
						<td><a href="https://www.amd.com/en/products/cpu/amd-ryzen-7-3700x">AMD Ryzen 7 3700X</a></td>
						<td><a href="https://www.sapphiretech.com/en/consumer/pulse-radeon-rx-5600-xt-be-6g-gddr6">Sapphire PULSE RX 5600 XT BE 6G GDDR6</a></td>
						<td><ol><li>KINGSTON SV300S37A 240G (SSD; OS; zmirror)</li><li>Samsung SSD 840 Series (250G; SSD; OS; zmirror)</li><li><a href="https://www.westerndigital.com/products/internal-drives/wd-blue-hdd">WDC WD40EZRZ</a> (4 TB; HDD; tank)</li><li>SAMSUNG HD501LJ (500G; HDD; Backups)</li></ol></td>
						<td>2 x 16 GB = 32 GB @ ~2666 Mhz ECC Unbuffered</td>
						<td>Ethernet(RTL8125; 2.5 Gb/s) + WLAN(2+5GHz; RTL8812AU; 1200Mbps)</td>
						<td><ol><li><a href="https://ultimatehackingkeyboard.com/">Ultimate Hacking Keyboard</a> (brown; blank)</li><li>Kensington Orbit Trackball</li></ol></td>
					</tr>
					<tr>
						<td>youdig</td>
						<td>Alpine</td>
						<td><a href="https://pcengines.ch/apu6b4.htm">PC Engines APU6B4</a></td>
						<td><code>AMD GX-412TC SOC</code> [4c 1GHz]</td>
						<td>N/A</td>
						<td>120GB mSATA SSD</td>
						<td>4 GB ECC</td>
						<td><ul><li>1 SPF(i210IS; 1Gb/s)</li><li>3×Ethernet(i211AT; 1Gb/s)</li><li>WLAN(2+5GHz; <a href="https://pcengines.ch/wle200nx.htm">WLE200NX / AR9280</a>)</li></ul></td>
					</tr>
					<tr>
						<td>softpad</td>
						<td>PostmarketOS</td>
						<td>Pine64 Pinephone PostmarketOS CE Convergence</td>
						<td>Allwinner A64</td>
						<td>(with CPU)</td>
						<td>32 GB</td>
						<td>3 GB</td>
						<td>Ethernet(1Gb/s via USB-C) + WLAN(2+5GHz) + GSM/LTE</td>
					</tr>
					<tr>
						<td><a href="/articles/T495">cloudchaser</a></td>
						<td>Gentoo Hardened</td>
						<td><a href="https://pcsupport.lenovo.com/fr/en/products/laptops-and-netbooks/thinkpad-t-series-laptops/thinkpad-t495-type-20nj-20nk">Lenovo Thinkpad T495</a></td>
						<td><a href="https://www.amd.com/fr/products/apu/amd-ryzen-5-pro-3500u">AMD Ryzen 5 PRO 3500U w/ Radeon Vega Mobile Gfx</a></td>
						<td>(with CPU) AMD Picasso</td>
						<td>256 GB</td>
						<td>8+8 GB @ 2 666MHz</td>
						<td>Ethernet(1Gb/s) + WLAN(2+5GGz)</td>
						<td><a href="https://shop.nitrokey.com/shop/product/nitrokey-start-6">Nitrokey Start</a></td>
					</tr>
					<tr>
						<td>minion</td>
						<td>Gentoo hardened</td>
						<td><a href="http://forum.lemaker.org/article-42-1.html">LeMaker BananaPi</a></td>
						<td>ARMv7 Processor rev 4 (v7l) // Allwinner A20</td>
						<td>Mali 400</td>
						<td>16 GB SD card</td>
						<td>1 GB</td>
						<td>Ethernet(1 Gb/s)</td>
						<td></td>
						<td>Was my main server until 2018-07</td>
					</tr>
					<tr>
						<td>spyke</td>
						<td><a href="https://wiki.merproject.org/wiki/Bacon_Info">SailfishOS</a> + Gentoo&amp;Mer</td>
						<td><a href="https://oneplus.net/one">OnePlus One (bacon)</a></td>
						<td>ARMv7 Processor rev1 (v7l) (×2)</td>
						<td>with CPU</td>
						<td>64 GB</td>
						<td>3 GB</td>
						<td>WLAN(AP;2+5 GHz) + GSM/LTE</td>
					</tr>
					<tr>
						<td>NightGlider</td>
						<td><ul><li>Debian Wheezy(NAND)</li><li>Gentoo(HDD)</li></ul></td>
						<td><a href="https://www.olimex.com/Products/OLinuXino/A20/A20-OLinuXino-LIME2/open-source-hardware">A20-OLinuXino-LIME2-4G</a></td>
						<td>ARMv7 Processor rev4 (v7l) [×2]</td>
						<td>Mali 400</td>
						<td><ol><li>NAND: 4 GB</li><li>SATA: 160 GB HDD</li></ol></td>
						<td>1 GB</td>
						<td>Ethernet(1 Gb/s)</td>
					</tr>
					<tr>
						<td>GogoleDernier ✝</td>
						<td>Gentoo (was a Cyanogen)</td>
						<td>Google Nexus 4</td>
						<td></td>
						<td>Adreno 320</td>
						<td>16 GB</td>
						<td>2 GB</td>
						<td>WLAN(AP;2+5 GHz) + GSM/LTE</td>
					</tr>
					<tr>
						<td>OpalEssence ✝</td>
						<td>Gentoo Hardened</td>
						<td>Toshiba Satellite L655 10F</td>
						<td>Intel(R) Pentium(R) CPU P6000 @1.87GHz</td>
						<td>[AMD/ATI] RV710/M92 [Mobility Radeon HD 4530/4570/545v]</td>
						<td>Sata: KINGSTON SV300S3 (SSD 240 GB)</td>
						<td>4 GB</td>
						<td>WLAN(AP;2+5 GHz), Ethernet(100 Mb/s)</td>
						<td></td>
						<td>Done a bad flash on the BIOS</td>
					</tr>
					<tr>
						<td>shinobu (忍)</td>
						<td>Solaris 10 03/05</td>
						<td>Sun Blade 150</td>
						<td>Sun UltraSPARC IIi @650Mhz</td>
						<td>ATI Rage XL</td>
						<td></td>
						<td>2×256MB</td>
						<td>Ethernet(100Mb/s integrated + 100Mb/s PCI)</td>
					</tr>
					<tr>
						<td>cutievault</td>
						<td>Gentoo musl</td>
						<td>Gigabyte F2A88XM-D3H</td>
						<td>AMD A8-7600 Radeon R7, 10 Compute Cores 4C+6G</td>
						<td>(with CPU)</td>
						<td>8×HDD + 2×SSD</td>
						<td>4 x 2GB = 8GB @ 1333Mhz</td>
						<td>Ethernet (1Gb/s)</td>
						<td></td>
						<td>NAS that is mostly suspend-on-ram, might evolve into a server at some point</td>
					</tr>
					<tr>
						<td>CocoPommel</td>
						<td></td>
						<td>Sun Ultra 10</td>
						<td></td>
						<td>ATI Rage Pro</td>
						<td>Seagate ST43432A (4303 MB)</td>
						<td>256~512 MB</td>
						<td>Ethernet(?)</td>
					</tr>
					<tr>
						<td>derpi</td>
						<td>Raspbian Wheezy</td>
						<td>Raspberry Pi</td>
						<td>ARMv6-compatible processor rev 7 (v6l)</td>
						<td>with CPU (disabled)</td>
						<td>8 GB</td>
						<td>512 MB</td>
						<td>Ethernet(&lt;100Mb/s)</td>
						<td></td>
						<td>Raspberry Pi formely used as a server</td>
					</tr>
					<tr>
						<td></td>
						<td>Stock Firmware</td>
						<td><a href="https://en.wikipedia.org/wiki/Oric_Atmos">Oric Atmos</a></td>
						<td>6502A @ 1 MHz</td>
						<td>N/A</td>
						<td>Audio Cassettes :)</td>
						<td>16 KB + 48 KB = 64 KB</td>
						<td>ehh…</td>
						<td>ehh…</td>
					</tr>
				</tbody>
