				<ul>
					<li><code>dino (hp2125; 1486160249): <span class="select-all">e44f6e2662e0b1288bd1f05ed0f4ef265ac5ddf7a41f6d4e9013bb97c66f6e52</span></code></li>
					<li><code>dino (NightmareMoon; 648847192): <span class="select-all">4f4b6aa8edbc6b6279426c511285bd6ab0e70d92de4ff8a9a83888fe1554303f</span></code></li>
					<li><code>gajim-hp2125 (1573830278): <span class="select-all">A43408F7 C9A2D5E7 CE57C17D 196C2B86 8FD6F71C E48AFE83 9BFA5E92 EAB94B17</span></code></li>
					<li><code>gajim-NightmareMoon (1963503919): <span class="select-all">B14F7376 F41B5759 1BF0C549 6018879E 021F91F8 20789975 17A30928 C107A144</span></code></li>
					<li><code>poezio-NightmareMoon-2QdM: N/A</code></li>
				</ul>
