#cursors-auto { cursor: auto; }
#cursors-default { cursor: default; }
#cursors-none { cursor: none; }
#cursors-context-menu { cursor: context-menu; }
#cursors-help { cursor: help; }
#cursors-pointer { cursor: pointer; }
#cursors-progress { cursor: progress; }
#cursors-wait { cursor: wait; }
#cursors-cell { cursor: cell; }
#cursors-crosshair { cursor: crosshair; }
#cursors-text { cursor: text; }
#cursors-vertical-text { cursor: vertical-text; }
#cursors-alias { cursor: alias; }
#cursors-copy { cursor: copy; }
#cursors-move { cursor: move; }
#cursors-no-drop { cursor: no-drop; }
#cursors-not-allowed { cursor: not-allowed; }
#cursors-grab { cursor: grab; }
#cursors-grabbing { cursor: grabbing; }
#cursors-e-resize { cursor: e-resize; }
#cursors-n-resize { cursor: n-resize; }
#cursors-ne-resize { cursor: ne-resize; }
#cursors-nw-resize { cursor: nw-resize; }
#cursors-s-resize { cursor: s-resize; }
#cursors-se-resize { cursor: se-resize; }
#cursors-sw-resize { cursor: sw-resize; }
#cursors-w-resize { cursor: w-resize; }
#cursors-ew-resize { cursor: ew-resize; }
#cursors-ns-resize { cursor: ns-resize; }
#cursors-nesw-resize { cursor: nesw-resize; }
#cursors-nwse-resize { cursor: nwse-resize; }
#cursors-col-resize { cursor: col-resize; }
#cursors-row-resize { cursor: row-resize; }
#cursors-all-scroll { cursor: all-scroll; }
#cursors-zoom-in { cursor: zoom-in; }
#cursors-zoom-out { cursor: zoom-out; }
