<article xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="h-entry">
<a href="/articles/2019-05%20Summary"><h1>2019-05 Summary</h1></a>
<p>I'm trying to start regular summaries of what I done, for now I think theses will be done monthly but might be done each two-weeks instead as that's what I was used to for four years until a year ago (at the "Lycée Expérimental de Saint-Nazaire”). Might also end up being in French as that's my native language (even if I almost never use it on the internet). This should also help in finding what I have done as most of my work is scattered around.</p>
<p>So here goes a summary of what I've been doing this month and a bit before so you get context.</p>
<h2>Badwolf</h2>
<p>So I started doing a <del>web browser</del> WebKit interface, named <a href="/projects/badwolf">Badwolf</a>, I quite wanted to for years (in fact the name dates back from around 2014 if not even older as I started watching DrWho in 2010~2012). I looked at a bunch of other WebKitGTK browsers but none really fit for me. Either it's Qt-based so you get either the seriously unmaintained QtWebKit (btw you might be interested in <a href="https://base-art.net/Articles/introducing-wpeqt-a-wpe-api-for-qt5/">Introducing WPEQt, a WPE API for Qt5</a>) or QtWebEngine which is basically chromium code more or less cleaned up to become a WebKit-like library and updated on the regular Qt release cycle. What's left is GTK, why not but the issue was that none were really useable, either they were quite large ones that would take a long time before being able to hack confortably on it (Midori, Epiphany), or ones that were really opiniated on how to do a true Unix-Philosophy browser and often were using vi shortcuts which I love for edition but hate for browsing (specially as it's broken with Web Apps), I find it even meh in a Shell so not surprising to me.</p>
<p>Badwolf is useable as a daily driver, if you do not mind going back to just <code>/etc/hosts</code> blocking and a simple JS-toggle for now (this one is seriously going to get fixed), I would consider it to be in a Beta state. I tried to add <a href="https://webkit.org/blog/3476/content-blockers-first-look/">Content-Blockers</a> to it but I can't seem to be able to get it to work… and I don't have errors so I’m waiting for a browser other than WebKitGTK MiniBrowser to look at how it's done. I'll try to also merge in proper WebKitExtension support (for now I have a patch as the path isn't definitive, might end up being a <code>#define</code> to uncomment in <code>config.h</code>).</p>
<h2>Slowing-down on Pleroma for a bit</h2>
<p>I tried to do a sort of pause on development and code review (even updating my instance…) as it's been more than a year, I think this is more or less done so I guess I'll soon come back on it as there is still stuff I want to do. Like: Getting credo to be used in a more fuller way, auditing more of the code in a global way.</p>
<h2>Gentoo</h2>
<p>I became part of the <a href="https://wiki.gentoo.org/wiki/Project:GURU">Gentoo GURU Project</a> as a Trustee Committer, so I'll be reviewing commits with a bit of non-blocking reviews, and pushing more things from my overlay to it (if you use or want to use stuff from my overlay ping me because I would prefer to have it into GURU, my overlay being quite experimental), specially stuff that I do not use much but quite want to share to others. Of course, the only hard-exception from GURU being my overrides on gentoo ebuilds/profiles (I try to upstream them in the main repo, recent one being <a href="https://github.com/gentoo/gentoo/pull/12117">evince without dbus</a>).</p>
<p>Also as I only stated it on the fediverse so far: I really dislike the real name part of <a href="https://www.gentoo.org/glep/glep-0076.html">GLEP-76: Copyright Policy</a>, it's sad because I quite like how we finally have some clear way on how to do copyright. I hope this won't stay a pain point, specially as how it's basically a barrier for fellow trans people (I which I could at least proxy your code if some wanted to…).</p>
<p>In pull-request <a href="https://github.com/gentoo/gentoo/pull/11441">#11441</a>, I became the maintainer for <code>app-shells/mksh</code> as I wanted to fix a packaging bug in it but it was maintained-needed for few months.<br />
It's a shell that I have been using and liking a lot for quite some years now, I would seriously recommend it if you want a POSIX-compatible Korn Shell.</p>
<p>I still proxy-maintain <code>www-plugins/passff{,-host}</code> but I will probably look for other people to co-maintain it or take it over at some point because of my lack of firefox usage in the last months.</p>
<p>I am still undecided if I should become a Gentoo Dev or not, I think I should try it, specially as that would mean having more power (and more reponsabilities) on the distro I'm quite stuck to.</p>
<h2>Random things</h2>
<p>I'm trying to get out of SailfishOS on my phone (OnePlus One) in small steps, it's a wonderful phone distro but compared to other nicely maintained generic distro it sucks a bit as it's missing stuff like tmux and compiling on it is a pain (like any other binary-based distro). I tried Gentoo/Prefix and it failed, same goes for pkgsrc (which is mainly from NetBSD). So I guess I'm going to go Linux From Scratch in a quite GoboLinux-like way so it's quite manageable without a package manager.</p>
<p>I'll probably revamp <a href="https://github.com/YoloSwagTeam/HackerAgenda">HackerAgenda</a> which is an events aggregator by using APIs/Scrapping on a lot of platforms. As I want to do a local instance for events I am interested in (and why not a bunch of others but meh at centralisation to me), I wanted to do that when I came back to Rennes about a year ago but I'm not a pythonist so I guess I quite dropped it easily.</p>
<p>I still quite like to learn other languages so I started Russian on Duolingo, but if you have easy to understand stuff done in Russian I would quite like it. Stuff like Series/Films, Comics, Games, Music, Poems, … probably not books as even in English/French I don't read them much.</p>
<p><a href="https://queer.hacktivis.me/notice/9jRBcrTVS3IlKrQDKq">Fediverse post for comments</a>, published on 2019-06-02T13:19:45Z, last updated on 2019-06-02T13:25:22Z</p>
</article>
