<article xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="h-entry">
<a href="/articles/2019-07%20Summary"><h1>2019-07 Summary</h1></a>
<p>So, third monthly summary, started it seriously late. It's something I want to do anyway, as I find regular work summaries to be very helpful. And I didn't do the draft thing I though about going in the previous one.</p>
<h2>Wayland</h2>
<p>No real news on this one other that I hate NVidia GPUs and being completely stuck with nouveau because it's on the legacy branch 340.xx of NVidia which is stuck on a old kernel branch so I can't really check if my bugs are hardware issues or not. At least I moved to an AMDGPU on my desktop in late April and it's been quite an improvement even in pure performances (OpenCL vs. CUDA, hardware support for HEVC, less wattage).</p>
<h2>Badwolf</h2>
<p>I'm slowly designing a library to parse <abbr title="XML Bookmarks Exchange Language">XBEL</abbr> files as Foreign Function Interfaces from C (Badwolf) to another languages are quite bad. I want it to be a good one so I looked at other implementations of XBEL and similar data storage libraries.</p>
<p>I've been thinking of adding history to Badwolf, one which WebKit wouldn't have access to (this one should be basic since at least Snowden…), could be in XBEL format as I want to have at least the timestamp, URL and title, might just be a log file that is to be used against syslog and/or logrotate. I just wanted it to be with XBEL so this way I don't have more stuff to do, but knowing how long XBEL is probably going to take…</p>
<h2>Pleroma</h2>
<p>Just reviewing most of the Pull Requests and sending the occasional patches.</p>
<p>I'm going to the <a href="https://dustycloud.org/blog/activitypub-conf-2019/">ActivityPub Conference</a>, plus two extra days in Prague (leaving in the late-afternoon of September 20th) as I never went in Czech at all (done Berlin and Amsterdam for the strictly east of France countries). I'm interested in quite a lot of the talks there so I'm quite hyped for it, specially as there is other people I quite want to meet.</p>
<p>Also while I wasn't really trilled about the migration from OStatus (nonstandard mix of small standards) to ActivityPub (loose own standard), the future of it seems to be going in quite the right direction. I'm thinking about <abbr title="Object CAPabilities">OCAP</abbr>, as "followers-only" and "unlisted" are pure hacks which have almost no reality in ActivityPub once you put interactions and different implementations behaviors.</p>
<h2>Gentoo</h2>
<p>Meh. I called for an agenda item on the issue with real names (<a href="https://archives.gentoo.org/gentoo-project/message/85de6190bd27693bed07744e04855911">Gentoo Archive</a>). Probably opinionated summary of mine would be: They think it's okay to have {ano,pseudo}nymous developers being stuck on committing by proxy, which feels like <q>You are part of the Jedi council, but you can't have a seat</q>), and they picked the Linux Kernel as a sort of base… which isn't really a good example of a nice working environment (might have changed when Linus Torvalds stepped down to treat people better). Here is their <a href="https://projects.gentoo.org/council/meeting-logs/20190721-summary.txt">summary</a> and <a href="https://projects.gentoo.org/council/meeting-logs/20190721.txt">full log</a>.<br />
Whatever but I guess I might pick a distribution I like more on how they politically goes and manage, I have few ideas I'll try to dig a bit into: Adélie which dropped portage because of issues with Gentoo, Exherbo, NetBSD (only technical limitation being their support of ZFS on root so I can switch easily).</p>
<h3>Without dbus</h3>
<p>On <a href="https://github.com/gentoo/gentoo/pull/12117">evince without dbus</a>: news about the PR, I should have sent it by email to gnome@ instead, will try this one. Honestly the one from the Gentoo gnome project wasn't really welcoming it but whatever, worst case it will keep being in my chaotic overlay.</p>
<p>I definitely broke wine in the process, haven't tried to repair it again. I don't use it often anyway, specially as quite a lot of games are either native by design or have been reverse-engineered to be native. And I don't have any other Windows API-only programs to run.</p>
<h2>pure Real Life things</h2>
<p>Having stopped my remote courses, I'm looking for certifications or jobs (the former being quite helpful in finding the latter when you didn't manage to get a diploma because the system doesn't works for you), I'll try on my own but any help is appreciated.</p>
<h2>Summary of Summary</h2>
<p>I feel like I've done much less things this month but well, for me it's the typical Summer Holiday and it should be my last one, and I quite expected theses summaries to actually be shorter the the first one as it wasn't only strictly about one month. And while I like holidays, I quite hope it's going to be the last two-months one, I seriously want to move on.</p>
<p><a href="https://queer.hacktivis.me/objects/167125f8-8c7b-42b0-9ed6-1f8af58f6047">Fediverse post for comments</a>, published on 2019-08-10T01:25:00Z, last updated on 2019-08-09T01:47:00Z</p>
</article>
