<article xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="h-entry">
<a href="/articles/2019-06%20Summary"><h1>2019-06 Summary</h1></a>
<p>Okay, here goes the second summary, started it a bit late <abbr title="in my humble opinion">IMHO</abbr>, maybe I should try taking notes in a draft when I feel like there is something important in the month.</p>
<h2>Wayland</h2>
<p>I finally switched to Wayland, full time for my laptop and just for some tests on my desktop. I didn't found a way to fix <a href="https://github.com/waymonad/waymonad">Waymonad</a> for it to work on my machines so I went with Sway, which is quite nice yet lacks few things and in another way has too much stuff.</p>
<p>I ended up discovering with a bug that a window could resize itself out of it's allocated space. And in Sway it is quite invisible because the borders aren't updated, yet it will catch the mouse events. This quite reminds me of one reason on why I really love <a href="http://xmonad.org">XMonad</a> by comparison to <a href="https://i3wm.org/">i3</a>: XMonad doesn't listen by default to windows asking to basically manage themselves, XMonad is the only one that should manage them (there might be few exceptions given that it's Xorg but still).</p>
<p>So I looked at creating a Wayland Compositor which will do it this way, even if I have to break some of Wayland in the way. I called her Inaban, in reference to the character in Koroko Connect which quite leads the group yet, doesn't have much trust in her peers. It's far from ready, regard it as a early <abbr title="Work In Progress">WIP</abbr> state and something quite experimental. Repository is at <a href="/git/inaban">/git/inaban</a> and it is <code>gui-wm/inaban</code> in my Gentoo overlay.</p>
<h2>Badwolf</h2>
<p>I released version 0.3.0, which adds few things, I'm awfully stalled on a lot of things so I guess I'll ask around to other developers that might be interested in sharing some code.</p>
<p>One being bookmarks: I would highly prefer it for the native format to be <abbr title="XML Bookmarks Exchange Language">XBEL</abbr> for direct interoperability and just write a <abbr title="Command Line Interface">CLI</abbr> tool for the Unix needs, problem is that <abbr title="As Far As I Know">AFAIK</abbr> there is no standalone C XBEL library (KDE has a XBEL implementation but I'm no going to pull half of KDE for bookmarks), so I'll ping web browser developers that have XBEL in a more or less working state and are using the C language. If this works this would at least means that they would have a more complete XBEL implementation.</p>
<p>On the Content-Blockers: I haven't retried again, will look into other WebKitGTK browsers to see if they implemented it. Otherwise it's going to be digging in MiniBrowser again.</p>
<h2>Pleroma</h2>
<p><a href="https://blog.soykaf.com/post/pleroma-1.0/">We finally released version 1.0.0</a>, alias 0.999… I'm slowly getting more active in it and restarted on reviewing most of the code. Credo almost skipped my mind and haven't started re-reading the code to see if there could be stuff to improve.</p>
<h2>Gentoo</h2>
<p>On the migration from my overlay to GURU, I'm cleaning my ebuilds in my overlay to clean them so they can be sent to guru, <a href="http://taisei-project.org/">taisei</a> for example should be there soon.</p>
<h3>Without dbus</h3>
<p>On <a href="https://github.com/gentoo/gentoo/pull/12117">evince without dbus</a>: no news on the PR, sent a ping as I was writing this.</p>
<p>I probably broke wine, even with <code>USE=-udisks</code> (I have this USE flag set like that for years, one reason was trying mdev instead of eudev and it stayed like that). But so far everything else has apparently been working fine.</p>
<p>I have yet to find a native Wayland terminal which works without dbus and isn't in a broken language/ecosystem (like alacritty in rust). I tried wlterm, needed a patch to work with a years old glibc change, and then it fails at linking time, might look into it again. The terminal that I've been using for quite a long time is <a href="https://st.suckless.org/">st - simple terminal</a>, so I would quite prefer to keep on using something about as light on it's code as it's really neat to patch if you have anything you want to change in it.</p>
<h3>Gentoo Dev</h3>
<p>I sent one email on becoming a co-maintainer for <code>cjk@</code>, got no answer, I guess I might just get more involved on exiting packages to know the devs better so it's less of a shot in the dark.</p>
<h2>Random things of last Summary</h2>
<p>Still haven't managed to get Perl from pkgsrc to work on my phone, even with seriously hacking the Makefile. I guess I'll try it with Gentoo/Prefix instead as SailfishOS build recipes are based on shell and I'm much more familiar on how ebuilds are working than pkgsrc</p>
<p>Revamping <a href="https://github.com/YoloSwagTeam/HackerAgenda">HackerAgenda</a> is still in my todo but I've quite been avoiding it as it's in python and I failed to get it to work in it's current state. Will see if I manage to fix that.</p>
<p>I quite failed to continue Russian on Duolingo, it's too much in a homework-like way and I haven't looked for Russian media to read, so just been using wiktionary from time to time on what I have in some of my search results and Fediverse posts</p>
<p><a href="https://queer.hacktivis.me/objects/18908051-3e38-4968-a2c9-0259583a9807">Fediverse post for comments</a>, published on 2019-07-06T01:45:00Z, last updated on 2019-08-09T01:51:00Z</p>
</article>
