<article xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="h-entry">
<a href="/articles/2019-08%20Summary"><h1>2019-08 Summary</h1></a>
<p>I managed to take it quite easy this month, which well is quite nice, mainly watched animes, (re)watched some movies, re-readed entire webcomics (<a href="http://rain.thecomicseries.com/comics/first">Rain</a> and <a href="https://elgoonishshive.com/">El Goonish Shive</a>), discovered some (<a href="https://www.thelegendofjamieroberts.com/">The Legend of Jamie Roberts</a> (same author as <a href="http://www.validationcomic.com/">Validation</a>), <a href="http://www.venusenvycomic.com/">Venus Envy</a>, <a href="http://www.lunarbaboon.com/">Lunar Baboon</a>, <a href="https://www.dolari.org/cs/">Closet Space</a> …)</p>
<h2>Gentoo (or lack thereof)</h2>
<p>I crash tested NetBSD-daily on 2019-08-29 with ZFS on root, without success but I still have it on my laptop, tried asking on <code>#netbsd</code> on freenode but I got no answer. The way I did it was: create a zfs for NetBSD, extract the binary sets and reuse the grub+libzfs that I have with gentoo (also used for booting alpine), add grub entry for NetBSD such as:<code><pre>
menuentry 'NetBSD' {
	knetbsd /ROOT/NetBSD/@/netbsd
	knetbsd_module /ROOT/NetBSD/@/stand/amd64/9.0/modules/solaris/solaris.kmod
	knetbsd_module /ROOT/NetBSD/@/stand/amd64/9.0/modules/zfs/zfs.kmod
}
</pre></code></p>
<p>2019-10-22 Update: Also note that I tried a bunch of stuff in the nice kernel prompt for picking a boot device, and yeah the first disk isn't encrypted on my laptop, but the second disk is and I got integrity checks.</p>
<p><a href="https://queer.hacktivis.me/objects/bde50b8d-0cb4-4dab-8fe0-7286223f3578">Fediverse post for comments</a>, published on 2019-09-01T13:01:00Z, last updated on 2019-10-22T20:12:00Z</p>
</article>
