<article xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="h-entry">
<a href="/articles/201%3F%20Summary"><h1>201? Summary</h1></a>
<h2>Operating Systems</h2>
<blockquote>
&gt; decade started with Sun Microsystems being acquired<br />
<br />
Glad this decade is DONE.
</blockquote><a href="https://queer.hacktivis.me/notice/9qXsQZo2650kmLVNia">2020-01-01T04:57</a>
<p>So yeah, the 201? decade started with Sun Microsystems being acquired by Oracle… meaning the incoming death of OpenSolaris, the Operating System I was using at the time. I used it until ~2013 where I switched to Ubuntu, which I then dropped for debian in 2014-01 (with a try of a release candidate of FreeBSD 10 for about a week), which I ultimately dropped for Gentoo on the 2015-05-26 (date is from zpool history) and it's a system I'm still using and will likely continue using in the coming years.</p>
<h2>Self-hosting</h2>
<h3>Hosted Software/Services</h3>
<p>Self-hosting is something I started around 2013~2014 for a group of friends with a website, a Minecraft server and quite quickly an <abbr title="Internet Relay Chat">IRC</abbr> server (with a chatroom linked to the server's chat). As at the time registrars web interface where quite poor and public APIs not as popular I hosted my own <abbr title="Domain Name System">DNS</abbr> at home. First with bind9, added DNSSEC support with a cron+some tool for few months but it's such a mess that I stopped (with few retries with other stuff like Knot DNS and PowerDNS, <strong>never again</strong>), switched to NSD when I had some kind of a DoS on my network happening only when DNS was reachable.</p>
<p>Started doing my own blog style website on 2014-02-28 with <a href="/git/blog/commit/d54fe618f5ce271003069d5c5ca04d120d77cae8.html">this commit</a>, it changed a bit on the aesthetic (moved from pre-2010 3D-ish panel to terminal-style flat), the code didn't change much other than moving from <abbr title="People Hating People">PHP</abbr> for the includes to Server-Side-Includes and daemon changed from apache to nginx.</p>
<p>Hosted my own <abbr title="Extensible Messaging and Presence Protocol (aka. Jabber)">XMPP</abbr> server with prosody when Jappix went down, still using it, I often forgot I even run this one because of how smooth it's going.</p>
<p>Hosted my own git-daemon and git web view, mostly because I don't like forges. You can see how it evolved in <a href="/articles/My%20git%20server%20setup">My git server setup</a>, it might evolve further as I need public tickets and a <abbr title="Continuous Integration">CI</abbr> setup for running tests on my software and recipes.</p>
<p>I tried hosting my own Friendica node at some point but it failed quite quickly (do not put a database on a SD card…), real hosting of a fediverse node was with <a href="https://pleroma.social/">Pleroma</a> in late 2017, which I ended up becoming a co-maintainer after doing some good commits. Which I quite done because gentoo has a tradition in upstreaming their changes and that Pleroma is nicely welcoming, Pleroma also quite made me change between "admin which can write patches in few languages" to "some weird mix of admin and developer".</p>
<p>2019-01 marks when I started hosting my own email server (I was using gandi.net as a forwarder and gozmail.bzh as a hoster).</p>
<p>I've tried setting up a Usenet server but <abbr title="InterNet News">INN</abbr> is a bloated pain, configuration awfully reminds me of sendmail (which I gladly never touched). I could try NNTPChan or similar but I want to be compatible with the existing network (which is less active than when fedi was only GnuSocial but still), mostly for the archives and not really the software because they suck, one of them litterally does. Interest in it is killing mailing lists btw, I hate them, I had to setup DKIM (let's have your emails signed in a recorded signature with a key that could easily be retained as no one rotates it but me) because of this crap.</p>
<h3>Hosting Hardware</h3>
<p>This one is going to be weird but basically used my laptop, desktop, Raspberry Pi model B (2012/First Gen), BananaPi, … could even consider my Google Nexus 4 smartphone as I reused it for piratebox needs when the screen died.</p>
<h2>Place to Place</h2>
<p>Bits of family moves, 4 years in my own flat (which was great) which included 3 years of reaching to hotspots around, made me learn the hard way of how horribly bloated the web is, also made me learn routing to share one or more connections (multi-hotspot drifting!) and sharing data (like <code>.deb</code> files and later tarballs).</p>
<p>I travelled in Japan with my dad in Spring 2014 (<a href="https://lanodan.eu/photos/2014-04-26%20%E2%86%92%202014-05-12%20Japan/">photos</a>) and Prague in 2019 (mostly for the ActivityPub Conference, thanks a lot to everyone there btw).</p>
<h2>2019 Summary? What happened in the last months?</h2>
<p>A summary of the least 3 months of 2019 will be done, there isn't much to say as AFK issues happened, doing a summary for 2019 is meh but might be interesting to do as well.</p>
<p><a href="https://queer.hacktivis.me/notice/9qXzO5gzmq8mU1yX8S">Fediverse post for comments</a>, published on 2020-01-01T05:10:00Z, last updated on 2020-01-01T05:48:00Z</p>
</article>
