<article xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="h-entry">
<a href="/articles/2020-04%20Summary"><h1>2020-04 Summary</h1></a>
<h2>Badwolf</h2>
<p>1.0.0 is so ready it feels like it's going to pop-out at any moment, only thing is few tweaks as I dogfood it, you can probably expect it very soon™.</p>

<h2>Gentoo</h2>
<p>I helped get gstreamer 1.16.2 get bumped into the main tree, patches for make 4.3 compatibility weren't so easy but at least the rest of the community is there to provide some patches, which I reused. I also upstreamed a bit of my changes to the webkit-gtk ebuild, let's see where that goes.</p>

<h2>Linux Audio, Livestreaming</h2>
<p>As ALSA is a broken API where a regular application can take over and block others from using it, I moved to <a href="http://www.sndio.org/">sndio</a>, of course few days later I discovered that a linux weenie deleted support for it into mpv's git master branch. Next release of mpv is gonna be great.<br />
Anyway, sndio also allows me to easily record from a microphone and the system sounds, which will be useful for livestreaming if I ever do that, I tested HLS a bit as webkit-gtk can support it natively (with the right gstreamer plugins) and it's pretty easy to setup, feel free to ask me for some livetsreaming things, I'll probably do some once I get the Valve Index that I ordered, expect me doing some sign language (I learned French Sign Language, I have basic skills) as an anime girl I guess.<br />
Apparently <a href="https://obsproject.com">OBS Studio</a> doesn't have support for sndio but the sndio API is great so I'll probably code a plugin if no one already did that, I could use ffmpeg or gstreamer directly but that's quite painful to set up and not easily flexible.</p>

<h2>ActivityPub</h2>
<p>I created a basic CLI-based client / toolbox for ActivityPub Client-to-Server, available on <a href="/git/ap-client/">/git/ap-client/</a>. It's also yet another thing I done with perl, feel free to do some review of it or some patches if you're familiar with perl.</p>
<p>For now it's very barebones but I expect it to become a usable client over time.</p>
<p><a href="https://queer.hacktivis.me/objects/8f09a877-46da-4857-9c7f-306c39a4f4b3">Fediverse post for comments</a>, published on 2020-05-09T01:40:00Z, last updated on 2020-06-15T02:44:00Z</p>
</article>
