<article lang="en" class="h-entry">
<a href="/articles/Email%20to%20graphics-dev@chromium.org%20about%20nouveau%20blacklisting"><h1>Email to graphics-dev@chromium.org about nouveau blacklisting</h1></a>
<pre>
Date: Sun, 6 Jan 2019 01:54:46 +0100
From: Haelwenn Monnier &lt;contact@hacktivis.me&gt;
To: graphics-dev@chromium.org
Subject: Nouveau blacklisting
Message-ID: &lt;20190106005446.GA22465@cloudsdale.the-delta.net.eu.org&gt;
MIME-Version: 1.0
Content-Type: text/plain; charset=us-ascii
Content-Disposition: inline
User-Agent: Mutt/1.10.1 (2018-07-13)

Hello,

I would like to complain about the blacklisting of nouveau in the
chromium graphics stack, nouveau is a useful replacement to the proprietary
driver and linked tools from NVidia, notably, because of the following cases:

- Ethics/Choice, nvidia being a proprietary driver, that litterally gets
about everything graphics related passed to it, it can be very sensible, be it
for privacy or politics (they could ban applications or some API).

- Wayland, as the nvidia driver wrongfully provides their own API that only
a very few compositors provide. wlroots, created for usage in Sway for example
will never support their API<a href="#anchor-1">[1]</a>.

- Up-to-date software, the proprietary driver has quite the history of lagging
behind on the software it depends on, for example the 304.xx legacy branch
needs a vulnerable Xorg branch(1.19.x) and when spectre/meltdown arrived a
legacy branch was incompatible with the stable branch of the linux kernel
at that time.
Which honeslty is quite funny considering that you apparently banned it
because of outdated mesa builds<a href="#anchor-2">[2]</a>, which just cannot be fixed with the legacy
branch. Something which I think will probably get even worse if WebGL will have
to use the slow and power-hungry software rendering.

I do not think that chromium is very liked in a lot of the linux community,
probably because of the overly large codebase and the link to Google, but doing
this will probably raise quite a large and visible flag to even non-maintainers.

1: <a id="anchor-1" href="https://drewdevault.com/2017/10/26/Fuck-you-nvidia.html">https://drewdevault.com/2017/10/26/Fuck-you-nvidia.html</a>
2: <a id="anchor-2" href="https://www.phoronix.com/scan.php?page=news_item&amp;px=Chrome-Blacklisting-Nouveau">https://www.phoronix.com/scan.php?page=news_item&amp;px=Chrome-Blacklisting-Nouveau</a>

--
Haelwenn (lanodan) Monnier
https://hacktivis.me/
</pre>
<p><a href="https://queer.hacktivis.me/objects/64041d50-d1b8-4195-a5e3-6d75507b6119">Post for comments and sharing on the fediverse.</a></p>
</article>
