<article xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="h-entry">
			<a class="u-url" href="/articles/L%C3%A9gifrance%20ne%20respecte%20pas%20ses%20propres%20D%C3%A9lib%C3%A9rations"><h1 class="p-name">Légifrance ne respecte pas ses propres Délibérations</h1></a>
			<p>Je remarque en allant sur <a href="http://legifrance.gouv.fr/">Légifrance</a>(D’ailleurs de l’HTTPS serait pas mal pour garantir l’autenticitée du contenu) que l’on me donne un cookie, <code>route=6bba97b9cd0deb1fc254548caef9f1cc; Path=/</code>, je le refuse, le site s’affiche et fonctionne correctement mais <strong>aucune indication ne m’est donnée concernant les cookies</strong>, je navigue donc vers la page <a href="http://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000028380230">Délibération n° 2013-378 du 5 décembre 2013 portant adoption d'une recommandation relative aux cookies et aux autres traceurs visés par l'article 32-II de la loi du 6 janvier 1978</a> et on me donne un autre cookie, cette fois un cookie de session javascript(<code>JSESSIONID=519C0B912D8F857CBAB38F194BC2D1CD.tpdila20v_2; Path=/</code>) alors que javascript n’est pas activé pour ce site.</p>
</article>
