<article xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="h-entry">
<a class="u-url" href="/articles/L%E2%80%99HTML%20dans%20les%20courriels"><h1 class="p-name">L’HTML dans les courriels</h1></a>
<p>Ce billet type geulante est pas contre l’HTML sinon je rédigerais ceci dans un autre format, ceci est contre l’HTML « généré » et plus particulièrement dans les courriels et encore plus quand celui-ci n’a pas de version texte.</p>
<p>J’ai donc fait une petite comparaison, l’HTML dans un courriel fait souvent environ la taille de la license <a href="https://www.gnu.org/licenses/gpl.txt">GPL-3</a>(35 147 charactères). Je vous invite donc à lire cette license <strong>en entier</strong> et à vous dire que c’est un texte COURT. (je ne recois pas de truc très sophistiqué, juste des gens qui on mal configuré·e leurs client de messagerie, imaginez les trucs avec du javascript et autres crasses)</p>
<p>Example d’un courriel HTML-seul :</p>
<table>
	<tr><th>Type de fichier</th><th>charactères</th><th>Commentaire</th></tr>
	<tr><td>HTML</td><td>21 563</td><td>taille de la GPL-3</td></tr>
	<tr><td>Texte (lynx --dump)</td><td>1 155</td><td>on vire 20 408 charactères</td></tr>
	<tr><td>Texte (manuellement)</td><td>921</td><td>on vire 20 642 charactères</td></tr>
</table>
<p>Pour la comparaison, la <a href="http://creativecommons.org/licenses/by-sa/4.0/legalcode.txt">CC-BY-SA 4.0 juridique en texte brut</a> fait 20 131 charactères. Mettez une partie de cette license ou un texte similaire en début et le reste en fin de vos message, je pense que des personnes voudront vous tabasser avec votre propre matériel informatique.</p>
<p>Ceci est particulièrement chiant dans le cadre du courriel. Je reçois souvent du HTML avec <strong>tous mes courriels</strong> (Alors qu’on pourrait <a href="http://cataas.com/">transiter du chaton</a> à la place), que les plus grosses crasses que je voit sont dans des courriels automatiques(DeviantArt, Paypal, Steam, niouzletteur, …) un gâchis encore plus énorme <strong>et dans des listes de discutions…</strong> (le courriel pris en example vennait d’une liste de hackerspace…)</p>
<p>À la limite je pourrait geuler sur les attachement de 2 Mo (10~20 secondes à charger sur un hotspot) mais ça encore c’est compréhensible et n’est pas une pure mauvaise volontée des logiciels et en partie ses utilisateurices (quoique).</p>
<p>Notes :</p>
<ul>
	<li>Je compte en charactères parceque cela évite de discriminer un éventuel encodage qui aurait pu être utilisé originellement (je transforme tout en Unicode), c’est globalement proche de l’octet (donc 20 642 charactères ~= 20 640 octets ou 20,6 Ko).</li>
	<li>Je sais que la plupart des personnes utilisent (malheuresement) souvent du webmail (mais moins en entreprise).</li>
	<li>Je prend souvent les licences comme truc chiant et long, mes fichiers texte brut ou HTML étant trop légers (environ 0,1 à 16 Ko)</li>
</ul>
</article>
