<article xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="h-entry">
<a class="u-url" href="/articles/Mozilla%20is%20Broken"><h1 class="p-name">Mozilla is Broken</h1></a>
<p>I’m quitting Mozilla, not that I have been really been into the community(mostly because they want me to do one thing, apply this to programs, not humans) but I was using and enjoying it for a long time(like since 2008). Also in about 2014 I switched from Thunderbird to mutt because I wanted something simple which does GPG, hard time to switch but I love it. And now it seems like Mozilla is killing Firefox for years :</p>
<ul>
	<li>Version numbering doesn’t mean anything(patches, big change, small change, security update ?)</li>
	<li>Have a very bad privacy and security (look at the differences between tor browser and Firefox)<ul>
		<li><code>about:config</code>-only: <a href="https://blog.nightly.mozilla.org/2018/06/01/improving-dns-privacy-in-firefox/"><abbr title="Domain Name System">DNS</abbr> over HTTPS to Cloudflare</a></li>
	</ul></li>
	<li>No more choice for the user<ul>
		<li>Old one : JavaScript can’t be configured</li>
		<li>OpenH264(non-free) is installed by default</li>
		<li>adb (android, non-free) is installed by default (Dev Edition ?)</li>
		<li>Pocket(non-free service) is installed, displayed, non-configurable at compile time → <a href="https://blog.mozilla.org/blog/2017/02/27/mozilla-acquires-pocket/">And now is integrated in it</a></li>
		<li>DRM (adobe EME) is active by default (can be disabled)</li>
		<li>Firefox Hello is installed, displayed, non-configurable at compile time</li>
		<li>Other New web stuff(WebRTC, HTML5 audio/video, …) have to be disabled/configured into about:config which is a total mess with no help (seamonkey/opera/linux-menuconfig are very good examples)</li>
		<li>add-ons have to be signed and only by Mozilla, non-configurable at compile time</li>
		<li>tracks you even if you disable all tracking in about:preferences</li>
		<li>Geo location can only be totally disabled with about:config</li>
		<li>Can’t choose a fallback(also weirdly called “Legacy”) encoding(old profile had it, about:preferences#content → Advanced(or Fonts, whatever) is shit, about:config is a mess)</li>
		<li>Broken multitasking. With chrom* when a tab crashes there is only one, in firefox it’s multiple/all tabs. (I had this issue with e10s and I still got it since the first days)</li>
		<li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=858839">Do Not Track is not respected on Mozilla Websites</a>: Ignoring Do Not Track header, knowing nothing about what "tracking means" or what a "third-party" can do, being in this stupid reasoning where there is colateral tracking by Google Analytics and/or Ads Companies, also badly using the word "anonymous"(It means no name/identification).</li>
	</ul></li>
	<li><b>No Unicode</b> even if my Locale is en_US.UTF-8 and configured to "Default for Current Locale", I have to change <em>every single time</em> to Unicode instead of Western (is that even a thing?)</li>
	<li>more and more slowness and crashes and <strong>new profile doesn’t help</strong></li>
</ul>
<p>And there is potentially way more shit (just look and the old but still open tickets)</p>
<p>Solution kept: Used to be in a constant change of web browser/interface, see <a rel="next" href="/articles/www-client%20are%20broken">www-client are broken</a>. Now it's been actually solved by doing my own WebKitGTK+ browser: <a href="/projects/badwolf">BadWolf</a>.</p>
<p>BTW if <strong>everyone</strong> have to use a LTS/ESR/real-stable version of a browser even if they are actual developers… well why is the Developer Edition based on Nightly ? For badly supported things like H.264 ? gstreamer works(can be an interface to ffmpeg). For brand new stuff ? Well most web-smiths have to support old browsers like IE6 or IE7. For marketing because we are the browser with tons of features ? Well I think so. I think Netscape did the same mistake in the browser-war, why change things?</p>
<p>Apparently since like… middle-late 2016 Mozilla Firefox is now better in Nightly than ESR. Whatever, it’s still broken for me.</p>
<h2>Changes</h2>
<ul>
	<li>2016-08-16T08:10:04Z: Mention adb and DRM (Adobe EME)</li>
	<li>2017-03-05T21:05:26Z: Note that Pocket has been bough by mozilla</li>
	<li>2017-07-09T03:56:12Z: Mention the broken multi-tasking that came with e10s in comparison with Chrome, Mention ESR/Nightly "difference".</li>
	<li>2018-08-24T22:10:58Z: Mention DNS over HTTPS with Cloudflare</li>
	<li>2020-08-13T21:35:00Z: Update solution to badwolf</li>
</ul>
<p>published on 2015-11-11T23:12:25Z, last updated on 2020-08-13T21:35:00Z</p>
</article>
