<article xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="h-entry">
<a href="/articles/real%20names"><h1>real names</h1></a>
<p>This post is sponsored by Contributing to Libre Software (and using OpenPGP) feels like Facebook all over again. 🙃️</p>
<p>Whatever the fuck is a "real name", is my handle unreal? If it's a "legal name" is my handle illegal? If it's a "government alias" am I "James (lanodan) Bond"? Is that latter name less real than the others? If you find my "<a href="https://en.wikipedia.org/wiki/True_name">true name</a>" can you control my soul?</p>
<p>Regarding the legal name, in France (where I've been living since birth), at least last time I checked (few years and this might have changed, this is not a legal source), a name is considered to be what other people call you, meaning that for changing your name in your ID/passport you need someone else to testify (paper is fine) you actually answer and use this name and send that to <abbr title="if I remember correctly">IIRC</abbr> the mayor of your city. Meanwhile for administrative documents (rent, university, …) you should be able to just ask for another name to be used or use another one, which can also serve as testification.</p>
<p>It is not perfect and still causes trouble (such as the mayor refusing the name change even if they shouldn't be able to), my stance for years has been "whatever name you give me or other people use, I'll consider it a name". I think most people have experienced someone getting a nickname and it got stuck for years and when the given name is used no one recognises it including people like teachers, in that case I consider that the given name doesn't works (kind of like a "not found" error).</p>
<p>Now for what motivated this post: I find real "real name" enforcements stupid and baseless (no offense, it's the act/behavior, not you). Here's why:<ul>
	<li>Almost no one can verify name authenticity, even Facebook can't (and they should never).</li>
	<li>"real" names are different from one state to another (content, formatting, alphabet, …)</li>
	<li>For copyright, stuff like pseudonyms are recognised, see pen names</li>
	<li>You can easily have a pile of folks with the same full name in one region or institution, this can create a lot of troubles</li>
	<li>As explained earlier, I can legally use whatever name I want in most cases, the formatting is also pretty liberal</li>
</ul></p>
<p>Also practical example, if a door-to-door marketer comes and I want to be sure they are who they claim to be employed by, do I ask for their ID? Nah, can't verify it at all. I would ask for their business card or similar and ID of their corporation (<a href="https://www.insee.fr/en/metadonnees/definition/c1841">SIRET</a> in France, <a href="https://www.sirene.fr/sirene/public/accueil?sirene_locale=en">which is public data you can query</a>). Latter being the most important as it's verifiable for me in few seconds that it is registered.</p>
<p>And here's a bonus: "Family name" doesn't applies to a fuckton of cultures/jurisdictions, similarly I don't have a middle name.</p>
<p><a href="https://queer.hacktivis.me/objects/aebe3c99-35b1-418b-82f6-1613b5555039">Fediverse post for comments</a>, published on 2020-07-15T16:25:50Z, last updated on 2021-12-01T16:22:00Z</p>
</article>
