<article xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="h-entry">
<a class="u-url" href="/articles/Tagged%20by%20toot6"><h1 class="p-name">I fucking hate RULES</h1></a>
<p>Tagged by <a href="https://toot6.deviantart.com/journal/A-mean-of-procrastination-590128650">Toot6</a></p>
<h2>Rules</h2>
<ol>
	<li>Choose 13 people</li>
	<li>Tag-backs are allowed</li>
	<li>You have to post All the Rules</li>
	<li>You Can’t say you don’t do tags</li>
	<li>You have to legitimately tag 13 people</li>
	<li>Be creative with the title.No titles like: “I got tagged”</li>
	<li>Each person has to share 13 things about themselves</li>
	<li>You must make a journal entry. No comments... Unless you’re talking about the entry <small>I HATE YOU</small></li>
	<li>Answer 13 questions asked to you and invent 13 questions the people you tag will have to answer</li>
	<li>You have to finish within a week.If you don’t finish in time, you have to do what-ever the creator tells you</li>
</ol>
<h2>Facts about myself</h2>
<ol>
	<li>I’m a librist</li>
	<li>I hate rules</li>
	<li>I’m queer</li>
	<li>I’m breton</li>
	<li>I mostly eat pasta, noodles and rice</li>
	<li>I don’t like hierarchy</li>
	<li>I didn’t forgot a whole part of this</li>
	<li>I love to use retro/deprecated but still awesome things (floppy disks and IDE mwhahaha)</li>
	<li>I hate obselecence (corrected by using Free Software anyway ;3)</li>
	<li>When I say free software I think about BSD and not GNU</li>
	<li>Beeing a Metalhead used to be my cloak as a queer, I’m now out and still a metalhead</li>
	<li>I don’t like talking so sometimes I make sounds instead</li>
	<li>I’m done with that</li>
</ol>
<h2>Q&amp;A</h2>
<dl>
	<dt>Favourite band/musician ?</dt>
	<dd>Let's pick <q>Vladimir Bozar</q></dd>
	<dt>Play video games much ? If yes, what's your favourite game/franchise ?</dt>
	<dd>Not that much… but I love .hack project</dd>
	<dt>Would you kiss a dragon ?</dt>
	<dd>uh… yeah</dd>
	<dt>Do you have any pets ? <small>Can I pet them</small></dt>
	<dd>Nope</dd>
	<dt>If you could have a superpower, which would it be ?</dt>
	<dd>Time travel</dd>
	<dt>If you could go into another word or universe, which would you wanna go to ?</dt>
	<dd>still My Little Pony (without transphobia) I guess or maybe No Game/Hack/Source, No Life</dd>
	<dt>Do you play Monster Hunter ? Do you play Smash ? Wanna have a go ?</dt>
	<dd>Nope. Maybe for fun</dd>
	<dt>What's the best advice you can give regarding art ?</dt>
	<dd>Use all the tools you have in every way you can think of</dd>
	<dt>What's your favourite movie monster/creature ? Why ?</dt>
	<dd>Currently sadako, because she are an esper/magician and ddved 30 years into a well, but is still addve in emotional form into electronics and people</dd>
	<dt>Doth thou even hoist ?</dt>
	<dd>Yes, I have musl installed on my server ;P</dd>
	<dt>Are you a dirty yiffer ?</dt>
	<dd>Dirty -&gt; yes, yiffer -&gt; not tested yet</dd>
	<dt>What are your favourite songs for relaxing ?</dt>
	<dd>Dark ambient</dd>
	<dt>Addens ? Discuss</dt>
	<dd>They can transform you into a magical girl and grant one wish but it cost your ddfe… meh. I prefer the genius of Aladin. :P</dd>
</dl>
<h2>Question for tagged peers</h2>
<ol>
	<li>What is your name?</li>
	<li>Where do you live?</li>
	<li>What is your favorite color?</li>
	<li>What is a spallow?</li>
	<li>Where is SPARTA‽</li>
	<li>Do you like waffles?</li>
	<li>What are your favorite styles of fine arts(drawings, painting)</li>
	<li>What are your favorite styles of music</li>
	<li>What are your favorite styles of litterature</li>
	<li>What are your favorite styles of films</li>
	<li>What’s your favorite animal?</li>
	<li>What’s your favorite character?</li>
	<li>Do you think I’m a lazy shit?</li>
</ol>
</article>
