<article xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="h-entry">
<a href="/articles/Update%20on%20Pleroma%20Maintainance"><h1>Update on Pleroma Maintainance</h1></a>
<p>Update 2022-08-31: This historical article was written for the sole purpose of explaining what was going on in the drama between 2021-12 and ~2022-02. Resolution is Alex Gleason got demoted from being a maintainer and then months later banned from pleroma's gitlab for harrassing a contributor.</p>
<p>
	So, there has been drama going on within the Pleroma side of the fediverse regarding the project itself for about the past month and it looks like there is no ways of having it being resolved, so I'm basically walking away from the project, at least the backend side of things.<br />
</p>

<h2>My old stance on Alex Gleason</h2>
<p>
	My old stance when Alex Gleason joined the Pleroma community was that he shouldn't have been a Maintainer because that would have been a Public Relation disaster and that he had to leave his politics out, specially the ones about gender.<br />
	To the ones not really aware a large chunk of the pleroma community was transgender people.<br />
	And of course it doesn't really mixes well with someone having an article named <a href="https://blog.alexgleason.me/trans/">Why I don't support transgender ideology</a> which would trigger a knee-jerk reaction on basically anyone supporting the cause.
</p>
<p>
	And while this has worked okay, the disaster happened anyway, we lost a large chunk of the community, we lost collaboration with glitch-social, which killed MastoFE.<br />
	In retrospect there should have been much more clarity and better stances, for example community guidelines to reverse-signal on accepting someone which is basically anti-trans.
</p>

<h2>Alex Gleason becoming maintainer</h2>
<p>
	Around Christmas Alex Gleason became a maintainer, I still have no idea who pushed the button nor who was part of the decision process for this, at least I wasn't. I actually wondered at first if a takeover happened because there was no announce or ping about it.<br />
	And there clearly wasn't any maintainer onboarding being done, we have the policy that you do not merge your own stuff without a very good reason such as no one having reviewed your code in a timely manner (~1 week), he arrived and merged about 10 merge requests, two of them were already controversial:
	<ul>
		<li><a href="https://git.pleroma.social/pleroma/pleroma/-/merge_requests/3480">AdminAPI: let moderators actually do things</a></li>
		<li><a href="https://git.pleroma.social/pleroma/pleroma/-/merge_requests/3402">Add notice compatibility routes for other frontends</a> which spawned:
		<ul>
			<li><a href="https://git.pleroma.social/pleroma/pleroma/-/merge_requests/3576">Revert notice compatibility routes merge request</a></li>
			<li><a href="https://git.pleroma.social/pleroma/pleroma/-/merge_requests/3579">Make notice compatibility routes optional</a></li>
		</ul></li>
	</ul>
</p>
<p>
	I'll let you review the comments on those by yourself as I'd rather not misrepresent other people's point of views and stances and I've already done a bunch of comments/replies on theirs.
</p>

<h2>Soapbox-FE replies handling</h2>
<p>
	There was a more or less forgotten feature in the pleroma backend which allowed to address people without having to mention them, this wasn't a very familiar thing in the fediverse, you could sometimes see an odd software behaving like this but it was not a case that was really handled completely in the fediverse.<br />
	Soapbox-FE is Alex Gleason's own frontend, and rather than having the addressing be an experiment you can toggle on, it was a forced behavior for anyone using it on Soapbox-FE <code>develop</code>, which means admins using it having to revert back if they didn't like it.
</p>
<p>
	The change itself isn't much of an issue, showing mention-less addressing is something which should be handled, but it is the kind of change you rollout progressively and with pinging other software which will be impacted beforehand, this wasn't done, leading to a crippled user experience for everyone else on the fediverse, including fellow pleroma users which wouldn't have been using soapbox.<br />
	It meant that Pleroma-FE was pushed to merge the side of the mention change which was in carefull progress to originally fix things like the MissKey style of mentions (<code>@user@domain</code> rather than just <code>@user</code>).
</p>

<h2>Calling everyone a actual retard</h2>
<blockquote>
I do not care if this alienates the 2 dozen severely mentally handicapped people here. We don’t need you. If the Fediverse is going to succeed, it’s not going to be because of this, and it’s certainly not going to be because of you.
I’ve worked my ass off for 3 years for “the community.” People seem to have no idea the amount of time and energy I’ve spent for basically nothing. But since day 1 it’s been a war, and I was incredibly patient. I tried very hard to earn people’s respect. But do ONE small thing people don’t like? It’s all vapor.
So no, I don’t care. I’m not building this for those people. I’m building for normies. I want to obsolete Twitter. We can’t do that by staying in one place forever.
People don’t like change - too bad. The world keeps turning.
</blockquote><cite><a href="https://gleasonator.com/objects/13a04551-1c11-43d7-a2b3-05e8513a6369">https://gleasonator.com/objects/13a04551-1c11-43d7-a2b3-05e8513a6369</a></cite>
<p>
	I'm not sure who he actually refers to with <q>the 2 dozen severely mentally handicapped people here</q> but I'm guessing everyone which doesn't likes his way of absolutely refusing to acknowledge any feedback and proceeding to move fast and break things.<br />
	Leftist mindset is <q>Everyone I don't like is a nazi</q>, I guess the Alex Gleason mindset is <q>Everyone I don't like is an <em>actual</em> retard</q> (emphasis on actual).<br />
	The former one I find midly annoying, the latter is inaceptable and I refuse to be associated with anyone having this kind of behavior so I am walking away from the Pleroma project as long as Alex Gleason is a maintainer on it, I'd rather avoid making non-revertable changes so for now I closed all my Merge Requests and I won't be pushing code to Pleroma, it will only be on my personal repositories.
</p>
<p>
	By the way, the way I build software is mostly for myself and friends. <a href="https://www.urbandictionary.com/define.php?term=Normie">Normies</a> mostly aren't in that demographic. And to be clear, in 4chan parlance it is mostly a slur-ish word similar to what some old time internet/BBS/Usenet users could send at users of things like AOL for disrespecting all the written and unwritten rules the community had organically self-built.
</p>
<p><a href="https://queer.hacktivis.me/notice/AFbsjUKgIxKBW0iXfk">Fediverse post for comments</a>, published on 2022-01-19T19:37:05Z, last updated on 2022-08-31T23:41:00Z</p>
</article>
